.item {
  display: inline-block;
  margin-left: 0.25vw;
  margin-right: 0.25vw;
  height: 36vh;
  background: black;
  cursor: pointer;
}

.item > img {
  height: 36vh;
}

.item:hover > img {
  opacity: 0.7;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  flex-wrap: nowrap;
  height: 36vh;
  scroll-behavior: smooth;
}

@media (max-width: 1024px) {
  .container {
    height: 24vh;
  }

  .item {
    margin-left: 1vw;
    margin-right: 1vw;
    height: 24vh;
  }
  
  .item > img {
    height: 24vh;
  }
}

.arrow {
  width: 3.5em;
  height: 36vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrow:hover > svg {
  color: rgb(220, 220, 220);
}

.arrow > svg {
  width: 2.5em !important;
  height: 2.5em !important;
  color: rgb(109, 109, 109);
}

.leftArrow {
  left: 0;
}

.rightArrow {
  right: 0vw;
}

.container > .arrow {
  position: absolute;
  z-index: 1;
}

.noScrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.noScrollbar::-webkit-scrollbar {
  display: none;
}