.colContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
}

.paragraph {
  font-size: 1.2em;
}

.title {
  font-size: 2.4em;
}